<div class="row">
  <aside class="col-xs-4">
    <section class="author_info">
      <% if @author.image.attached? %>
        <%= image_tag @author.avatar_image, class: "avatar" %>
      <% end %>
      <h2><%= @author.name %></h2>
      フォロワー数<br>
      <%= @author.follows.count %><br>
      <% if logged_in? %>
        <% if @author.follow_user(current_user.id) %>
          <%= link_to author_follow_path(author_id: @author.id, id: @author.follow_user(current_user.id).id), class: "btn btn-lg btn-primary", method: :delete do %>
            フォロー解除
          <% end %>
        <% else %>
          <%= link_to author_follows_path(@author.id), class: "btn btn-lg btn-primary", method: :post do %>
            フォロー
          <% end %>
        <% end %>
      <% end %>
    </section>
  </aside>

  <div class="col-xs-8">
    <% if @author.books.any? %>
      <h3>Books (<%= @author.books.count %>)</h3>
      <ol class="books">
        <%= render @books %>
      </ol>
      <%= will_paginate @books %>
    <% end %>
  </div>
</div>