<% provide(:title, 'All users') %>
<h1>All users</h1>

<h4>User search</h4>  
<%= form_tag(users_path, :method => "get") do %>  
  <p>  
    <%= text_field_tag :search, params[:search] %>  
    <%= submit_tag "検索", name: nil, class:"btn btn-search" %>  
  </p>  
<% end %>  

<br>

<% if @users %>  
  <ul class="users">  
    <%= render @users %>
  </ul>  
  
  <%= will_paginate @users, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>  
<% end %>  