<% provide(:title, 'All users') %>
<h1>All users</h1>

<h4>User search</h4>  
<%= form_tag(users_path, :method => "get") do %>  
  <p>  
    <%= text_field_tag :search, params[:search] %>  
    <%= submit_tag "検索", name: nil, class:"btn btn-search" %>  
  </p>  
<% end %>  

<br>

<% if @search_users %>  
  <ul class="media-list">  
    <% @search_users.each do |user| %>  
      <li class="media">  
        <div class="media-left">  
            <% if user.image.attached? %>
                <%= image_tag user.avatar_image, class: "user_avatar" %>
            <% else %>
                <%= gravatar_for user %>
            <% end %>  
        </div>  
        <div class="media-body">  
          <div>  
            <%= user.name %>  
          </div>  
          <div>  
            <p><%= link_to 'View profile', user, class:"underline" %></p>  
          </div>  
        </div>  
      </li>  
    <% end %>  
  </ul>  
  <%= will_paginate @search_users, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>  
<% end %>  