<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-xs-3">
    <div class="user_info">
      <% if @user.image.attached? %>
        <%= image_tag @user.avatar_image, class: "user_avatar" %>
      <% else %>
        <%= gravatar_for @user %>
      <% end %>
      <h2><%= @user.name %></h2>
      <h3 class="border-bottom">いいね一覧</h3>
      <% @user.liked_books.each do |book| %>
        <p><%= link_to book.title, book, class: "underline" %></p>
      <% end %>
    </div>
  </div>



  <div class="col-xs-9">
    <div class="row">
      <div class="col-sm-12">
        <h3>フォロー済み著者</h3>
        <% @authors.each do |author| %>
        <div class="row">
        <li class="follow_author col-sm-6">
          <%= image_tag author.avatar_image, class: "avatar" %>
          <p class="underline"><%= link_to author.name, author %></p>
        </li>
        <% end %>
        </div>
      </div>
      <div class="col-sm-12">
        <h3>コメント一覧</h3>
        <% @comments.each do |comment| %>
          <p><%= link_to comment.book.title, comment.book, class:"underline margin-top" %> : <%= comment.content %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>