<li id="book-<%= book.id %>">
  <%= image_tag book.image if book.image.attached? %>
  <p class="author"><%= link_to book.author.name, book.author %></p>
  <span class="content"><%= book.content %></span>
  <span class="releasedate">
    <%= time_ago_in_words(book.releasedate) %>前に出版されました。
  </span>
</li>