<li id="book-<%= book.id %>">
  <%= image_tag book.display_image, class: "margin-right" if book.image.attached? %>
  <p><%= link_to book.title, book, class: "underline" %></p>
  <span class="content"><%= book.content %></span>
  <span class="border-bottom">
    <p>This is released <%= time_ago_in_words(book.releasedate) %> ago.</p>
  </span>
</li>