<div class="row book">
  <aside class="col-xs-4">
    <section class="book_info">
      <% if @book.image.attached? %>
        <%= image_tag @book.display_image %>
      <% end %>
      <p><%= @book.title %><p>
      <h4 class="border-top">いいね件数: <%= @book.likes.count %></h4>
      <% if logged_in? %>
        <% if current_user.already_liked?(@book) %>
          <%= button_to 'いいねを取り消す', book_like_path(@book), { method: :delete, class: "btn btn-green-wide btn-sm" } %>
        <% else %>
          <%= button_to 'いいね', book_likes_path(@book), class: "btn btn-green btn-sm" %>
        <% end %>
        <br>
        <h4 class="border-top">いいね済ユーザー</h4>
        <% @book.liked_users.each do |user| %>
          <li><%= user.name %></li>
        <% end %>
      <% end %>
    </section>
  </aside>
  
  <div class="col-xs-8">
    <h4>内容</h4>
    <span class="content"><%= @book.content %></span>
    <p>This is released <%= time_ago_in_words(@book.releasedate) %> ago.</p>
    <h4 class="border-top">コメント一覧</h4>
    <% @comments.each do |c| %>
      <% if c.parent_id.present? || c.id.blank? %>
        <% next %>
      <% end %>
      <div class="border-top-thick">
        <% unless c.user.blank? %>
          <% if c.user.image.attached? %>
            <%= image_tag c.user.avatar_image, class: "img-circle" %>
          <% else %>
            <%= gravatar_for c.user, class: "img-circle" %>
          <% end %>
          <%= link_to c.user.name, c.user unless c.user.blank? %>
          <p><%= c.content %></p>
          <h4 class="border-top">返信一覧</h4>
          <table class="table table-hover">
            <% c.replies.order(:created_at).each do |reply| %>
              <tr><td><%= c.user.name %> : <%=reply.content%></td></tr>
            <% end %>
          </table>
          <% if logged_in? %>
            <%= form_with(model:[@book,@comment_reply]) do |form| %>
              <div class="row">
                <div class="form-group col-md-6 border-top">
                  <p><label>このコメントに返信する</label></p>
                  <textarea class="form-control input-form" name="comment[content]" rows="2"><%=@comment_reply.content%></textarea>
                </div>
              </div>
                <%= form.hidden_field :book_id, value: @book.id %>
                <%= form.hidden_field :parent_id, value: c.id%>
              <div class="actions">
                <%= form.submit "返信する", class: "btn btn-green btn-sm" %>
              </div>
            <% end %>
          <% end %>         
          <br>
        <% end %>
      </div>
      <br>
    <% end %>
    
    
    <% if logged_in? %>
      <%= form_with(model: [@book, @comment], local: true) do |f| %>
        <%= f.text_area :content, class: "form-control", rows: 5 %>
        <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
          <i class="far fa-comments">コメントする</i> 
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>