<div class="row">
  <aside class="col-xs-4">
    <section class="book_info">
      <% if @book.image.attached? %>
        <%= image_tag @book.display_image %>
      <% end %>
      <p><%= @book.title %><p>
      <h3>いいね件数: <%= @book.likes.count %></h3>
      <% if current_user.already_liked?(@book) %>
        <%= button_to 'いいねを取り消す', book_like_path(@book), method: :delete %>
      <% else %>
        <%= button_to 'いいね', book_likes_path(@book) %>
      <% end %>
      <h3>いいねしたユーザー</h3>
      <% @book.liked_users.each do |user| %>
        <li><%= user.name %></li>
      <% end %>
    </section>
  </aside>
  <div class="col-xs-8">
    <%= @book.content %>
  </div>
</div>